body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #BEE4E1;
}


/* User Input Section  */


#state-store {
    border: 2px solid black;
    width: 50%;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 15rem;
    border-radius: 0.5rem;
    background-color: #E7F7F6;
}

.btn {
    padding: 0.5rem 1rem;
    font-size: 01.1rem;
    border-radius: 0.7rem;
    margin: 1rem 0;
    background-color: #589D98;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.btn:hover:not([disabled]) {
    color: black;
    background-color: #E7F7F6;
}  
#reset {
    padding: 0.5rem 2rem;  
}

#topic {
    font-size: 2rem;
    font-weight: 700;
}

.lift-inputs {
    display: flex;
    min-width: 60%;
    justify-content: space-between;
    padding: 10px 14px;
    align-items: center;
}

.lift-inputs-left {
    margin-right: 2rem;
}

.lift-inputs-right {
    margin-left: 2rem;
}

.lift-inputs input {
    padding: 0.3rem 0.5rem;
    font-size: 01.1rem;
    border-radius: 0.7rem;
}

#message {
    color: red;
    font-weight: 700;
    cursor: pointer;
    width: 93%;
    margin: 2em auto 4em auto;
    font-size: 1.1em;
}

#message:hover {
    text-decoration: underline;
}

/* Floor Component  */

#floors {
    width: 90%;
    margin: 0 auto;
}

.floor-component {
    display: flex;
    align-items: flex-end;
    font-size: 0.7rem;
    font-weight: 700;
    margin-bottom: 2rem;
    justify-content: space-evenly;
    gap: 1rem;

}

.floor-component:last-child {
    margin-bottom: 5rem;
}
.floor-height {
    display: flex;
    width: 90%;
    border-bottom: 2px solid black;
    min-height: 6rem;
}

.floor-number {
    font-size: 0.9rem;
    width: 5%;
}

.navigation-buttons {
    width: 5%;
    margin-bottom: 1rem;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.navigate {
    border: 1px solid;
    width: 90%;
    padding: 0.3rem;
    text-align: center;
    border-radius: 0.8rem;
    color: white;
    cursor: pointer;
    margin-top: 0.5rem;
}

.navigate:hover {
    background-color: rgb(96, 231, 96);
    color: black;
}

#up {
    background-color: rgb(2, 91, 2);
}

#down {
    background-color: rgb(93, 123, 24);
}

/* Lift Components  */

.lifts {
    display: flex;
}

.lift {
    border: 0.1rem solid black;
    width: 69px;
    margin-left: 2rem;
    background-color: #003636;
}

.lift-door {
    border-left: 0.1rem solid #E7F7F6;
    position: relative;
    left: 50%;
    min-height: 6rem;
}

.open-lift {
    animation-name: doorBehaviour;
    animation-duration: 5s;
}

@keyframes doorBehaviour {
    0% { 
        transform: scaleX(0); 
        position: absolute;
        left: 55%;
    }
    50% {
        transform: scaleX(49);
        position: absolute;
        left: 58%;

    }
    100% { 
        position: absolute;
        left: 50%;
    }
  }

/* Footer Component  */

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:#E7F7F6;
}

#foot {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    width: 90%;
    margin: 1em auto;
    font-weight: 700;
    font-size: 1.1rem;
}

.foo-links {
    text-decoration: none;
    color: blue;
}




@media only screen and (max-width: 834px) {
    #topic {
        font-size: 1.7rem;
    }
    .lift-inputs {
        min-width: 0;
    }
    .lift-inputs-left {
        display: none;
    }
    .lift-inputs-right {
        margin-left: 0;
        position: relative;
    }
      
    .lift-inputs-right:after {
        content: 'Enter the number';
        position: absolute;
        left: 35px;
        top: 5px;
        color: #bbb;
    }

    #floor-place::after {
        content: "No of floor";
    }

    #lift-place::after {
        content: "No of Lift";
    }
      
    #floor-input {
        position: relative;
    }
    
    #floor-input:focus {
        z-index: 10;
    }
    #lift-value {
        position: relative;
    }
    
    #lift-value:focus {
        z-index: 10;
    }
    #state-store {
        width: 80%;
    }
    #navigate-buttons {
        width: 10%;
    }
    #foot {
        flex-direction: column;
        gap: 0.5rem;
    }
    .floor-component:last-child {
        margin-bottom: 8rem;
    }
}